* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(186, 3, 3);
    color: black;

}

.quiz-container {
    background-color: rgb(31, 31, 162);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    width: 70%;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 15px;
    font-size: 25px;
    font-family: cursive;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer {
    font-size: 18px;
    display: flex;
    align-items: center;
    background-color: black;
}

input[type="radio"] {
    margin-right: 10px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #45a049;
}

.option{
margin: 10px;
text-align: center;
color: white;
padding: 10px;
background-color: black;
text-transform: uppercase;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.correct {
    background-color: green;
}

.incorrect{
    background-color: red;
}